#ex01

In [1]:
import pandas as pd
import sqlite3

Создадим подключение к базе данных с помощью библиотеки sqlite3

In [3]:
col_names = ['datetime', 'user']
connect = sqlite3.connect('../data/checking-logs.sqlite.sqlite_copy')

Получим схему просмотров страниц таблицы

In [4]:
query = 'PRAGMA table_info(pageviews);'
pd.io.sql.read_sql(query, connect)

Empty DataFrame
Columns: [cid, name, type, notnull, dflt_value, pk]
Index: []

Получим первые 10 строк просмотров страниц таблицы, чтобы проверить, как выглядит таблица

In [ ]:
query = 'SELECT * FROM pageviews LIMIT 10;'
pd.io.sql.read_sql(query, connect)

Выберем строки из таблицы по условиям:

∗ status = ’ready’

∗ numTrials = 1

∗ labnames should be from the list: ’laba04’, ’laba04s’, ’laba05’, ’laba06’, ’laba06s’, ’project1’

◦ сохраним в фрейме данных контрольные элементы со столбцом cnt

In [ ]:
request = '''
SELECT COUNT(*)
FROM pageviews
WHERE pageviews.uid IN
    (SELECT checker.uid
    FROM checker
    WHERE status='ready'
    AND numTrials=1
    AND labname in ('laba04', 'laba04s', 'laba05', 'laba06', 'laba06s', 'project1')
    )
'''
checkers = pd.io.sql.read_sql(request, connect)
checkers.columns = ['cnt']
checkers

Закроем соединение с базой данных

In [ ]:
connect.close()