In [ ]:
%autosave 60
import pandas as pd

Autosaving every 60 seconds

Загрузим файл JSON, созданный в предыдущем упражнении, в фрейм данных, установим CarNumber в качестве столбца индекса

https://lavrynenko.com/kak-chitat-json-fajl-v-python/

In [ ]:
df = pd.read_json('/content/drive/MyDrive/Pyton/auto.json')
df.set_index('CarNumber', inplace=True)
df

Посмотрим следующие выборы

◦ где штрафы больше 2100

In [ ]:
df[df['Fines'] > 2100]

◦ где штрафы больше 2100 и 2 возврата

In [ ]:
df[(df['Fines'] > 2100) & (df['Refund'] == 2)]

◦  где есть модели из списка: [’Фокус’, ‘Королла’]

In [ ]:
df[df.Model.isin(['Focus', 'Corolla'])]

◦  где номер машины из списка: [’Y7689C197RUS’,
'92928M178RUS', '7788KT197RUS', 'H115YO163RUS', 'X758HY197RUS']

In [ ]:
df[df.index.isin(['Y7689C197RUS', '92928M178RUS', '7788KT197RUS', 'H115YO163RUS', 'X758HY197RUS'])]

Посмотрим различные выборки.

◦ отобразим средние штрафы, сгруппированные по марке

In [ ]:
df.groupby(by=['Make']).median()['Fines']

◦ отобразим средние штрафы, сгруппированные по марке и модели

In [ ]:
df.groupby(by=['Make', 'Model']).median()['Fines']

◦ отобразим количество штрафов, сгруппированных по марке и модели, чтобы
понять, можем ли мы доверять средним значениям

In [ ]:
df.groupby(by=['Make', 'Model']).count()['Fines']

◦ отобразим минимальные и максимальные штрафы, сгруппированные по марке и
модель, чтобы лучше понять дисперсию

In [ ]:
df.groupby(['Make', 'Model']).min()['Fines']

In [ ]:
df.groupby(['Make', 'Model']).max()['Fines']

◦ отобразим стандартное отклонение, сгруппированных по производителям и моделям чтобы лучше понять разницу

In [ ]:
df.groupby(['Make', 'Model']).std()['Fines']

Сделаем агрегацию с номером автомобиля


◦ отобразим номера автомобилей, сгруппированных по количеству штрафов в
порядке убывания

In [ ]:
df.columns

Index(['Refund', 'Fines', 'Make', 'Model'], dtype='object')

In [ ]:
df.groupby(df.index)['Fines'].count().sort_values(ascending=False)

CarNumber
Y7689C197RUS    4
92928M178RUS    4
7788KT197RUS    4
H115YO163RUS    3
X758HY197RUS    3
               ..
E42577152RUS    1
E42377152RUS    1
E41977152RUS    1
E41577152RUS    1
H917TC36RUS     1
Name: Fines, Length: 531, dtype: int64

◦ выберем из исходного фрейма данных все строки, соответствующие номерам автомобилей топ-1 по количеству штрафов

Для наглядности отсортирую по номерам машин (у нас они являются индексами)

In [ ]:
df[df.index.isin(['Y7689C197RUS', '92928M178RUS', '7788KT197RUS'])].sort_index()

              Refund    Fines  Make  Model
CarNumber
7788KT197RUS       2  12000.0  Ford  Focus
7788KT197RUS       2   8594.6  Ford  Focus
7788KT197RUS       1  20000.0  Ford  Focus
7788KT197RUS       2   4000.0  Ford  Focus
92928M178RUS       1   8594.6  Ford  Focus
92928M178RUS       1    600.0  Ford  Focus
92928M178RUS       1   1200.0  Ford  Focus
92928M178RUS       2   3000.0  Ford  Focus
Y7689C197RUS       1  27000.0  Ford  Focus
Y7689C197RUS       2   9000.0  Ford  Focus
Y7689C197RUS       2  45000.0  Ford  Focus
Y7689C197RUS       1  36000.0  Ford  Focus

◦ отобразим номера автомобилей, сгруппированных по сумме штрафов в порядке убывания

Подробно и понятно про агрегирование:

https://sparkbyexamples.com/pandas/pandas-groupby-sum-examples/

In [ ]:
df.groupby( 'CarNumber').sum().sort_values(by=['Fines'],ascending=False)
# sort() игнорирует категорийные переменные, работает только с числами

              Refund     Fines
CarNumber
X758HY197RUS       6  242000.0
9020YC197RUS       4  217500.0
M0279X197RUS       4  216000.0
Y352O8197RUS       6  207200.0
Y778EE197RUS       3  192000.0
...              ...       ...
83218C154RUS       1     100.0
Y195O8161RUS       1     100.0
K376HE161RUS       1     100.0
705787163RUS       1     100.0
K326T8197RUS       1     100.0

[531 rows x 2 columns]

◦ выберем из исходного фрейма данных все строки, соответствующие номеру автомобиля топ-1 по сумме штрафов

In [ ]:
df[df.index.isin(['X758HY197RUS'])]

              Refund     Fines  Make  Model
CarNumber
X758HY197RUS       2   24200.0  Ford  Focus
X758HY197RUS       2   72600.0  Ford  Focus
X758HY197RUS       2  145200.0  Ford  Focus

◦ отобразим таблицу, которая отвечает на вопрос: есть ли какие-либо номера автомобилей, которые были подключены к разным моделям?

In [ ]:
df.groupby( 'CarNumber').count()['Model'].sort_values(ascending=False)

CarNumber
7788KT197RUS    4
Y7689C197RUS    4
92928M178RUS    4
7361C8197RUS    3
X758HY197RUS    3
               ..
X023HY197RUS    0
M5039X197RUS    0
96907X197RUS    0
Y693HM197RUS    0
Y687HM197RUS    0
Name: Model, Length: 531, dtype: int64

Вывод. Были номера, которые меняли марку машины, так как одному номеру соответствует несколько марок.

В моем результате я вижу нули. Меня это насторожило. Проверю, откуда они. Действительно, есть незаполненные поля марки.

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 725 entries, Y163O8161RUS to H419XE197RUS
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Refund  725 non-null    int64
 1   Fines   725 non-null    float64
 2   Make    725 non-null    object
 3   Model   716 non-null    object
dtypes: float64(1), int64(1), object(2)
memory usage: 44.5+ KB