In [1]:
import pandas as pd
import numpy as np
import requests

 Прочитаем файл JSON, который сохранили в ex02

In [2]:
df = pd.read_json('../data/auto.json')
df

        CarNumber  Refund    Fines    Make    Model
0    Y163O8161RUS       2   3200.0    Ford    Focus
1     E432XX77RUS       1   6500.0  Toyota    Camry
2     7184TT36RUS       1   2100.0    Ford    Focus
3    X582HE161RUS       2   2000.0    Ford    Focus
4    92918M178RUS       1   5700.0    Ford    Focus
..            ...     ...      ...     ...      ...
720  Y163O8161RUS       2   1600.0    Ford    Focus
721  M0309X197RUS       1  22300.0    Ford    Focus
722  O673E8197RUS       2    600.0    Ford    Focus
723  8610T8154RUS       1   2000.0    Ford    Focus
724  H419XE197RUS       2   8594.6  Toyota  Corolla

[725 rows x 5 columns]

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 725 entries, 0 to 724
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   CarNumber  725 non-null    object
 1   Refund     725 non-null    int64
 2   Fines      725 non-null    float64
 3   Make       725 non-null    object
 4   Model      716 non-null    object
dtypes: float64(1), int64(1), object(3)
memory usage: 28.4+ KB

◦ один из столбцов имеет тип float, поэтому определим его формат в
pandas с помощью pd.options.display.float_format: значения с плавающей запятой должны отображаться с двумя десятичными знаками

◦ в модели отсутствуют значения, ничего с ними не делаем

In [4]:
pd.options.display.float_format = '{:,.2f}'.format

Добавим новые данные (выдуманные штрафы). Закрепленные значения - номер, марка, модель, возврат и штрафы рандомные из имеющихся.

In [5]:
sample = df.sample(n=200, random_state=21).reset_index(drop=True)
sample

        CarNumber  Refund     Fines        Make   Model
0    M0299X197RUS       2 19,200.00        Ford   Focus
1    83298C154RUS       2  8,594.60        Ford   Focus
2    H957HY161RUS       1  2,000.00        Ford   Focus
3     T941CC96RUS       1  2,000.00        Ford   Focus
4    H966HY161RUS       1    500.00        Ford   Focus
..            ...     ...       ...         ...     ...
195  8182XX154RUS       1    200.00        Ford   Focus
196   X796TH96RUS       1    500.00        Ford   Focus
197  T011MY163RUS       2  4,000.00        Ford   Focus
198   T341CC96RUS       2  1,000.00  Volkswagen  Passat
199   T119CT96RUS       1  2,000.00        Ford   Focus

[200 rows x 5 columns]

Выберем 200 случайных значений для возвратов и штрафов и заменим ими столбцы в нашей выборке

In [6]:
sample_for_Refund = df.sample(n=200, random_state=42).reset_index(drop=True)
sample_for_Refund['Refund']

0      1
1      2
2      2
3      1
4      1
      ..
195    1
196    1
197    2
198    2
199    2
Name: Refund, Length: 200, dtype: int64

In [7]:
sample_for_Fines = df.sample(n=200, random_state=30).reset_index(drop=True)
sample_for_Fines['Fines']

0     8,300.00
1     8,594.60
2     1,300.00
3     2,400.00
4     2,400.00
        ...
195   9,500.00
196   2,000.00
197   4,400.00
198     800.00
199   1,400.00
Name: Fines, Length: 200, dtype: float64

In [8]:
sample['Fines'] = sample_for_Fines['Fines']
sample['Refund'] = sample_for_Refund['Refund']
sample

        CarNumber  Refund    Fines        Make   Model
0    M0299X197RUS       1 8,300.00        Ford   Focus
1    83298C154RUS       2 8,594.60        Ford   Focus
2    H957HY161RUS       2 1,300.00        Ford   Focus
3     T941CC96RUS       1 2,400.00        Ford   Focus
4    H966HY161RUS       1 2,400.00        Ford   Focus
..            ...     ...      ...         ...     ...
195  8182XX154RUS       1 9,500.00        Ford   Focus
196   X796TH96RUS       1 2,000.00        Ford   Focus
197  T011MY163RUS       2 4,400.00        Ford   Focus
198   T341CC96RUS       2   800.00  Volkswagen  Passat
199   T119CT96RUS       2 1,400.00        Ford   Focus

[200 rows x 5 columns]

Добавим эти строкм в основной датафрейм

In [9]:
concat_rows = pd.concat([df, sample])
concat_rows

        CarNumber  Refund    Fines        Make   Model
0    Y163O8161RUS       2 3,200.00        Ford   Focus
1     E432XX77RUS       1 6,500.00      Toyota   Camry
2     7184TT36RUS       1 2,100.00        Ford   Focus
3    X582HE161RUS       2 2,000.00        Ford   Focus
4    92918M178RUS       1 5,700.00        Ford   Focus
..            ...     ...      ...         ...     ...
195  8182XX154RUS       1 9,500.00        Ford   Focus
196   X796TH96RUS       1 2,000.00        Ford   Focus
197  T011MY163RUS       2 4,400.00        Ford   Focus
198   T341CC96RUS       2   800.00  Volkswagen  Passat
199   T119CT96RUS       2 1,400.00        Ford   Focus

[925 rows x 5 columns]

Дополним concat_rows новым столбцом со сгенерированными данными

In [10]:
# Задаем параметры генерации случайных чисел
np.random.seed(21)

◦ создадим серию с названием Year, используя случайные целые числа с 1980 по 2019 год. Надо использовать np.random.seed(21) перед генерацией лет.

Объединим серию с датафреймом

In [11]:
Year = pd.Series([np.random.randint(1980,2019) for i in range(len(concat_rows))])
Year

0      1989
1      1995
2      1984
3      2015
4      2014
       ...
920    1996
921    2002
922    1996
923    2012
924    1984
Length: 925, dtype: int64

In [12]:
concat_rows['Year'] = Year.astype('int')
fines = concat_rows
fines

        CarNumber  Refund    Fines        Make   Model  Year
0    Y163O8161RUS       2 3,200.00        Ford   Focus  1989
1     E432XX77RUS       1 6,500.00      Toyota   Camry  1995
2     7184TT36RUS       1 2,100.00        Ford   Focus  1984
3    X582HE161RUS       2 2,000.00        Ford   Focus  2015
4    92918M178RUS       1 5,700.00        Ford   Focus  2014
..            ...     ...      ...         ...     ...   ...
195  8182XX154RUS       1 9,500.00        Ford   Focus  2012
196   X796TH96RUS       1 2,000.00        Ford   Focus  1998
197  T011MY163RUS       2 4,400.00        Ford   Focus  1983
198   T341CC96RUS       2   800.00  Volkswagen  Passat  1983
199   T119CT96RUS       2 1,400.00        Ford   Focus  1989

[925 rows x 6 columns]

Добавим еще выдуманных данных


Создадим новый фрейм данных с номерами автомобилей и их владельцами. Для этого:

Считаем файл с самыми распространенными фамилиями

In [13]:
surname = pd.read_json('../data/surname.json')

Создадим новую серию с фамилиями (в них не должно быть специальных символов, таких как запятые, скобки и т.д.) Количество должно быть равно количеству уникальных номеров автомобилей. Использовать random_state = 21

Создадим столбец из уникальных номеров. Заодно посмотрим, сколько их для создания списка фамилий.

In [14]:
owner_car = concat_rows.drop_duplicates('CarNumber')['CarNumber']
owner_car = owner_car.reset_index(drop=True)
owner_car

0      Y163O8161RUS
1       E432XX77RUS
2       7184TT36RUS
3      X582HE161RUS
4      92918M178RUS
           ...
526    O136HO197RUS
527    O22097197RUS
528    M0309X197RUS
529    O673E8197RUS
530    8610T8154RUS
Name: CarNumber, Length: 531, dtype: object

Создадим такой же по длине столбец фамилий.

In [15]:
owner_name = surname['NAME'].sample(n=531, random_state=21, replace=True, ignore_index=True)
owner_name

KeyError: 'NAME'

Создадим датафрейм с 2 столбцами: номер и фамилия

In [ ]:
owners = pd.DataFrame(data=owner_car)
owners['SURNAME'] = owner_name
owners

Подготовим данные для демонстрации умения объединять таблицы по разным условиям

Добавим еще 5 наблюдений к датафрейму данных о штрафах (придумайте свои собственные идеи)

In [ ]:
sample_5 = df.sample(n=5, random_state=21).reset_index(drop=True)
Refund_5 = df.sample(n=5, random_state=42).reset_index(drop=True)
Fines_5 = df.sample(n=5, random_state=30).reset_index(drop=True)
sample_5['Fines'] = sample_for_Fines['Fines']
sample_5['Refund'] = sample_for_Refund['Refund']
sample_5['Year'] = [2000, 1996, 2002, 2010, 1999]
fines = pd.concat([fines, sample_5])
fines

Удалим из датафрейма владельцев последние 20 наблюдений и добавим 3 новых

In [ ]:
owners_test = owners.drop(owners.tail(20).index)
add3 = owners.sample(n=3, random_state=1)
owners_test = pd.concat([owners_test, add3], ignore_index=True)
owners_test

Будем соединять эти датафреймы разными способами

Подробно и понятно про агрегирование:

https://sparkbyexamples.com/pandas/pandas-groupby-sum-examples/

∗ новый фрейм данных должен содержать только номера автомобилей, существующие в обоих фреймах данных.

In [ ]:
test1 = pd.merge(fines, owners_test, on='CarNumber', how='inner')
test1

∗ новый фрейм данных должен содержать все номера автомобилей, существующие в обоих фреймах данных.

In [ ]:
test2 = pd.merge(fines, owners_test, on='CarNumber', how='outer')
test2

∗ новый фрейм данных должен содержать только номера автомобилей из фрейма данных штрафов

In [ ]:
test3 = pd.merge(car_test, owners_test, on='CarNumber', how='left')
test3

∗ новый фрейм данных должен содержать только номера автомобилей из
фрейма данных владельцев

In [ ]:
test4 = pd.merge(car_test, owners_test, on='CarNumber', how='right')
test4

Cоздадим сводную таблицу по заданию

In [ ]:
pd.pivot_table(car_test,
               columns='Year',
               values='Fines',
               index=['Make', 'Model'],
               aggfunc={'Fines': np.sum})

Сохраним фреймы данных о штрафах и владельцах в CSV-файлах без индекса

In [ ]:
car_test.to_csv('../data/fines.csv', index=False)
owners.to_csv('../data/owners.csv', index=False)

In [ ]:
len(fines)