In [1]:
import pandas as pd
import sqlite3

## С помощью sqlite3.connect создадим объект типа Connection

In [2]:
connect = sqlite3.connect('../data/checking-logs.sqlite.sqlite')
connect

## Создадим новую таблицу datamart в базе данных, объединив просмотры страниц таблиц и проверку с использованием одного запроса

### ◦ в таблице должны быть следующие столбцы: uid, labname, first_commit_ts, first_view_ts

### фильтры те же:

#### ∗ status = ’ready’

#### ∗ numTrials = 1

### ◦ таблица должна содержать только пользователей (uid с user_*), а не администраторов

### ◦ first_commit_ts и first_view_ts должны быть проанализированы как datetime64[ns]

In [3]:
request = '''
SELECT checker.uid,
       checker.labname,
       checker.timestamp AS first_commit_ts,
       pageviews.datetime AS first_view_ts
FROM checker 
LEFT JOIN pageviews ON checker.uid=pageviews.uid
WHERE status='ready'
AND numTrials=1
AND labname IN ('laba04', 'laba04s', 'laba05', 'laba06', 'laba06s', 'project1')
AND checker.uid LIKE 'user_%'
AND (pageviews.datetime = (SELECT MIN(pageviews.datetime)
                           FROM pageviews
                           WHERE uid=checker.uid)
        OR pageviews.datetime IS NULL)
'''
datamart = pd.io.sql.read_sql(request, connect, parse_dates=[
                              'first_commit_ts', 'first_view_ts'])
datamart

DatabaseError: Execution failed on sql '
SELECT checker.uid,
       checker.labname,
       checker.timestamp AS first_commit_ts,
       pageviews.datetime AS first_view_ts
FROM checker
LEFT JOIN pageviews ON checker.uid=pageviews.uid
WHERE status='ready'
AND numTrials=1
AND labname IN ('laba04', 'laba04s', 'laba05', 'laba06', 'laba06s', 'project1')
AND checker.uid LIKE 'user_%'
AND (pageviews.datetime = (SELECT MIN(pageviews.datetime)
                           FROM pageviews
                           WHERE uid=checker.uid)
        OR pageviews.datetime IS NULL)
': no such table: checker

## Создадим два фрейма данных: тестовый и контрольный:

### у тестового должны быть пользователи, у которых есть значения в first_view_ts

### у контрольного должны быть пользователи, у которых отсутствуют значения в first_view_ts

In [ ]:
test = datamart[datamart['first_view_ts'].notnull()]
control = datamart[datamart['first_view_ts'].isnull()]

## Найдем среднее значения first_view_ts

In [ ]:
replase_arg = test['first_view_ts'].mean()
replase_arg

## Заменим недостающие значения на средние

In [ ]:
control = control.fillna(test['first_view_ts'].mean())

## Сохраним обе таблицы в базе данных

In [ ]:
test.to_sql('test', connect)
control.to_sql('control', connect)

## Закроем соединение с базой данных

In [ ]:
connect.close()